{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 5% in US"],
        "node": "current"
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-async-to-generator"
  ]
}
