<!DOCTYPE html>
<html lang="en">
  <head>
    <title>React Starter / Underdog.io</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% htmlWebpackPlugin.files.css.forEach(filepath => { %>
    <link rel="stylesheet" href="/<%= filepath %>" />
    <% }) %>
  </head>
  <body>
    <div id="app"><div>{{ content|safe }}</div></div>
    <script>window.initialState = {{ initialState|safe }}</script>
    <% htmlWebpackPlugin.files.js.forEach(filepath => { %>
    <script src="/<%= filepath %>"></script>
    <% }) %>
  </body>
</html>
